/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}


/* End Reset */


/*
=======================
BORDER BOX
=======================
*/

*,
*:before,
*:after {
    box-sizing: border-box;
}


/*
=======================
TYPOGRAPHY
=======================
*/


/* Start as phone, and expand out */

body {
    font: normal normal 300 1em/1.375 'Lato', 'Trebuchet MS', Arial, Calibri, sans-serif;
    letter-spacing: normal;
    color: #888;
}

p {
    font-size: 1em;
    line-height: 1.375;
    margin-bottom: 22px;
    text-align: left;
    hyphens: auto;
    color: rgb(64, 65, 64);
}

h1 {
    font: normal normal 900 2em/.938 'Lato', 'Trebuchet MS', Arial, Calibri, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 7px rgba(80, 80, 80, .35);
}

h2 {
    font: italic normal 400 1.625em/.889 'Lato', 'Trebuchet MS', Arial, Calibri, sans-serif;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}

h3 {
    font: normal normal 700 1.375em/1.154 'Lato', 'Trebuchet MS', Arial, Calibri, sans-serif;
    text-transform: uppercase;
    color: rgb(125, 130, 134);
}

.event-info h3 {
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}


/* Tablet (small) and up */

@media (min-width: 43.75em) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.625em;
    }
    h3 {
        font-size: 1.375em;
    }
    h4 {
        font-size: 1.125em;
    }
}


/* Desktop (small), Tablet (large) and up */

@media (min-width: 56.25em) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2.25em;
    }
    h3 {
        font-size: 1.75em;
    }
    h4 {
        font-size: 1.125em;
    }
}


/* Desktop (large) and up */

@media (min-width: 81.25em) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2.25em;
    }
    h3 {
        font-size: 1.75em;
    }
    h4 {
        font-size: 1.125em;
    }
    p {
        font-size: 1.125em;
    }
}


/*
=======================
HEADER: SLOGAN/LOGO
=======================
*/

header {
    height: 100px;
    padding: 10px 0;
}

#logo img {
    float: left;
    height: 40px;
    margin-top: 10px;
    margin-right: 20%;
    margin-bottom: 0;
    margin-left: 0;
}

#slogan {
    font-family: 'Lato', 'Trebuchet MS', Arial, Calibri, sans-serif;
    font-size: 1em;
    font-style: italic;
    line-height: 1.333;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    color: rgb(149, 175, 112);
}


/* Phablet size 550px */

@media (min-width: 34.375em) {
    #slogan {
        margin-top: 30px;
        margin-top: 35px;
        margin-bottom: 30px;
        text-align: right;
    }
    #logo img {
        float: left;
        height: 80px;
        margin-right: 0;
        margin-left: 0;
    }
}


/* Tablet (small) and up, 700px */

@media (min-width: 43.75em) {
    #slogan {
        font-size: 1.25em;
        margin-top: 35px;
        text-align: right;
    }
}


/* Tablet (small) and up, 900px */

@media (min-width: 56.25em) {
    #slogan {
        font-size: 1.6em;
        margin-top: 28px;
        text-align: left;
    }
}


/*
=======================
EVENT BOX
=======================
*/

.event-info {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 8px;
    background-color: rgb(229, 230, 228);
}

.event-box {
    margin-left: 3%;
}

span {
    font-size: 16px;
    position: relative;
    margin-right: 10px;
    color: rgb(149, 175, 112);
}

p#date,
p#price,
p#time,
p#location {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(125, 130, 134);
}


/*
=======================
VIDEO
=======================
*/

iframe {
    border: 10px #ecebeb solid;
    border-radius: 8px;
}


/* Responsive video code below works with videos that have a 16:9 ratio.
I combined it with jQuery code that is at the top of the index.html page */

.video-container {
    position: relative;
    overflow: hidden;
    height: 0;
    margin-bottom: 20px;
    padding-top: 35px;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}


/*
=======================
STATS
=======================
*/

.stat-number {
    font: normal normal 700 2.5em/1.154 'Lato', 'Trebuchet MS', Arial, Calibri, sans-serif;
    margin-bottom: 5px;
    color: rgb(149, 175, 112);
}

@media (min-width: 34.375em) {
    .stat-number {
        font-size: 3em;
    }
}

.stat-label {
    font: normal normal 700 1em/1.125 'Lato', 'Trebuchet MS', Arial, Calibri, sans-serif;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(125, 130, 134);
}

.stats p,
#stat1,
#stat2,
#stat3 {
    line-height: 1;
    text-align: left;
}

.stats {
    margin-top: 25px;
}

@media (min-width: 30em) {
    .stats {
        margin-top: 0;
    }
    .stats p {
        text-align: right;
    }
}


/*
=========================
DECORATIVE SECTION STYLES
=========================
*/

#main-content,
#about-event,
#about,
#testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: 30em) {
    #main-content,
    #about-event,
    #about,
    #testimonials {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

#main-content {
    background-color: rgb(149, 175, 112);
}

#about,
footer {
    background-color: rgb(247, 247, 247);
}

.dash {
    width: 85px;
    height: 1px;
    margin: 10px 0 20px 0;
    background: rgb(149, 175, 112);
}

.dash-event {
    width: 85px;
    height: 1px;
    margin: -9px -10px 30px 100px;
    background: rgb(149, 175, 112);
}


/*
=======================
FOOTER
=======================
*/

footer {
    height: 90px;
}

footer p {
    font-size: .875em;
    line-height: 1.2;
    padding-top: 35px;
    text-align: left;
    color: rgb(176, 176, 176);
}


/*
=======================
IMAGES
=======================
*/

#testimonials img,
#about img {
    max-width: 100%;
    border: 4px solid #f6f6f6;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

#testimonials img {
    width: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    margin-left: 30%;
    vertical-align: top;
    border-radius: 50%;
}

@media (min-width: 30em) {
    #testimonials img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
}


/*
=======================
BUTTONS
=======================
*/

button {
    font-size: 1.25em;
    width: 100%;
    height: 55px;
    margin-top: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.button,
button {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: .05em;
    text-transform: uppercase;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.button:hover,
button:hover,
.button:focus,
button:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}

.button.button-primary,
button.button-primary {
    color: #fff;
    border-color: #f66917;
    background: linear-gradient(to bottom, #f66917 0%, #e34e35 50%, #c23a44 100%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .55);
}

.button.button-primary:hover,
button.button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus {
    color: #fff;
    border-color: #e34e35;
    background: linear-gradient(to bottom, #c23a44 0%, #e34e35 50%, #f66917 100%);
}

@media (min-width: 25em) {
    button {}
}

@media (min-width: 56.25em) {
    button {
        font-size: 1.25em;
    }
}


/*
=======================
GRID
=======================
*/


/* Using Skeleton Grid */

.container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.column,
.columns {
    float: left;
    box-sizing: border-box;
    width: 100%;
}


/* For devices larger than 400px */

@media (min-width: 25em) {
    .container {
        width: 85%;
        padding: 0;
    }
}


/* For devices larger than 550px */

@media (min-width: 34.375em) {
    .container {
        width: 80%;
    }
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }
    .one-third.column {
        width: 30.6666666667%;
    }
    .two-thirds.column {
        width: 65.3333333333%;
    }
    .one-half.column {
        width: 48%;
    }
    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns {
        margin-left: 8.66666666667%;
    }
    .offset-by-two.column,
    .offset-by-two.columns {
        margin-left: 17.3333333333%;
    }
    .offset-by-three.column,
    .offset-by-three.columns {
        margin-left: 26%;
    }
    .offset-by-four.column,
    .offset-by-four.columns {
        margin-left: 34.6666666667%;
    }
    .offset-by-five.column,
    .offset-by-five.columns {
        margin-left: 43.3333333333%;
    }
    .offset-by-six.column,
    .offset-by-six.columns {
        margin-left: 52%;
    }
    .offset-by-seven.column,
    .offset-by-seven.columns {
        margin-left: 60.6666666667%;
    }
    .offset-by-eight.column,
    .offset-by-eight.columns {
        margin-left: 69.3333333333%;
    }
    .offset-by-nine.column,
    .offset-by-nine.columns {
        margin-left: 78.0%;
    }
    .offset-by-ten.column,
    .offset-by-ten.columns {
        margin-left: 86.6666666667%;
    }
    .offset-by-eleven.column,
    .offset-by-eleven.columns {
        margin-left: 95.3333333333%;
    }
    .offset-by-one-third.column,
    .offset-by-one-third.columns {
        margin-left: 34.6666666667%;
    }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%;
    }
    .offset-by-one-half.column,
    .offset-by-one-half.columns {
        margin-left: 52%;
    }
}


/*
=======================
FORM
=======================
*/

input,
select {
    font-size: 1em;
    width: 100%;
    margin-bottom: 15px;
}

input[type='email'],
input[type='text'],
select {
    box-sizing: border-box;
    height: 38px;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: none;
}


/* Removes awkward default styles on some inputs for iOS */

input[type='email'],
input[type='text'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type='email']:focus,
input[type='text']:focus,
select:focus {
    border: 1px solid #33c3f0;
    outline: 0;
}

label {
    font-weight: 700;
    display: block;
    margin-bottom: 0;
}

label > .label-body {
    font-weight: normal;
    display: inline-block;
    margin-left: .5rem;
}

@media (min-width: 25em) {
    label {
        margin-bottom: 5px;
    }
    input,
    select {
        margin-bottom: 10px;
    }
}


/* Self Clearing Goodness */

.container:after,
.row:after,
.u-cf {
    display: table;
    clear: both;
    content: '';
}

blockquote {
    margin: 1.5em 10px;
    padding: .5em 10px;
    quotes: '\201C''\201D''\2018''\2019';
    border-left: 10px solid #ccc;
    background: #f9f9f9;
}

blockquote:before {
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    content: open-quote;
    vertical-align: -.4em;
    color: #ccc;
}

blockquote p {
    display: inline;
}


/*
============================
ONLY MAX-WIDTH MEDIA QUERIES
============================
*/

@media (max-width: 48.75em) {
    #main-content .eight.columns {
        width: 100%;
    }
    #main-content .event-info,
    #main-content figure {
        margin-left: 0;
    }
    #main-content figure {
        margin-right: 0;
    }
    #main-content .four.columns {
        width: 100%;
    }
}