// Colors
$white: #fff; // 255, 255, 255
$almost-white: #f9f9f9; // 249 249 249 this looks exactly same #f7f7f7 (247 247 247), also #f6f6f6 and #ecebeb (236 235 235);
$light-light-grey: #f6f6f6; // 246 246 246
$orange: #f66917; // 246 105 23
$light-grey: #e5e6e4; // 229 230 228
$orange2: #e34e35; // 227 78 53
$light-grey2: #cccccc; // 204 204 204 -  use for #d1d1d1 (209 209 209) & #e5e6e4 & #bbbbbb (187 187 187);
$orange3: #c23a44; // 194 58 68
$light-grey3: #b0b0b0; // 176 176 176
$green: #95af70; // 149 175 112
$grey: #888888; // 136 136 136
$grey2: #7d8286; // 125 130 134
$dark-grey: #404140; // 64 65 64
$blue: #33c3f0; // 51 195 240
$almost-black: #333333; // 51 51 51

// Layout


// Fonts
$font-stack: 'Lato', 'Trebuchet MS', Arial, Calibri, sans-serif;
